# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# Database files
*.db
*.sqlite3
chroma_db/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Visualization outputs
visualizations/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.specstory/

# OS specific files
.DS_Store
Thumbs.db

# Temp Files (Names just to prevent clutter and unnecessary files)
plots_viz.py
chroma_db/0b0ed8ff-a79a-4d5c-b49b-8913eefdbe4d/length.bin
chroma_db/chroma.sqlite3
